/* Styles for Smells Like Team Spirit © 2020 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: "Roboto";
  background-color: #FFF9F8;
}
/* Chat page*/

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#option_button, #addClass, #addClass2, #addClass3, #addClass4, #addClass5, #addClass6 {
  background-color: #A6B579;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 25px;
}

.row-striped:nth-of-type(odd) {
  background-color: #efefef;
  border-left: 4px #9B8080 solid;
}
.row-striped:nth-of-type(even) {
  background-color: #ffffff;
  border-left: 4px #A6B579 solid;
}
.row-striped {
  padding: 15px 0;
}
#layerbackground_2 {
  background-color: #9B8080;
}
.display-4 {
  font-size: 2rem !important;
  line-height: 1.2;
}
.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.badge-secondary {
  color: #fff;
  background-color: #DF8063;
}
.h2, h2 {
  font-size: 1.4rem;
}
.btn-info {
  background-color: #A6B579;
  border: 1px solid #FEFAE1;
  color: #333333;
}
.btn-info:hover {
  background-color: #9B8080;
  border: 1px solid #A6B579;
}
#menulink {
  color: #9B8080;
}
.nav-link:hover {
  color: #000000 !important;
}

.nav-link:active {
  color: #000000 !important;
}

.card {
  border: 1px solid #A6B579;
  background-color: #f2eeee;
  box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 6px 6px 0px rgba(0, 0, 0, 0.5);
}
.card-text {
  font-size: 14px;
}
.card-img-top {
  margin-top: 11px !important;
  max-width: 200px;
  border: 1px solid #A6B579;
  border-radius: 4px;
  padding: 5px;
  margin: auto;
  display: block;
  background-color: #ffffff;
}
.card-title a {
  color: #9B8080 !important;
}
.btn-outline-secondary:hover {
  background-color: #606C3B;
  color: #ffffff !important;
  border-color: #A6B579 !important;
}
.btn-outline-secondary {
  color: #ffffff !important;
  border-color: #A6B579 !important;
  background-color: #ffffff;
}
.btn-group {
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 11px;
}
/* End */

/* Chat pop-up window styles */

.popup-box {
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  bottom: 0;
  display: none;
  height: 550px;
  position: fixed;
  right: 70px;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}
.round.hollow {
  margin: 40px 0 0;
}
.round.hollow a {
  border: 2px solid #ff6701;
  border-radius: 35px;
  color: red;
  color: #ff6701;
  font-size: 23px;
  padding: 10px 21px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.round.hollow a:hover {
  border: 2px solid #000;
  border-radius: 35px;
  color: red;
  color: #000;
  font-size: 23px;
  padding: 10px 21px;
  text-decoration: none;
}
.popup-box-on {
  display: block !important;
  z-index:1000;
}
.popup-box .popup-head {
  background-color: #fff;
  clear: both;
  color: #7b7b7b;
  display: inline-table;
  font-size: 21px;
  padding: 7px 10px;
  width: 100%;
  font-family: Oswald;
}
.bg_none i {
  border: 1px solid #DF8063;
  border-radius: 25px;
  color: #DF8063;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}
.bg_none:hover i {
  border: 1px solid #606C3B;
  border-radius: 25px;
  color: #606C3B;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}
.bg_none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.popup-box .popup-head .popup-head-right {
  margin: 2px 2px 0;
}
.popup-box .popup-messages {}
.popup-head-left img {
  border: 1px solid #7b7b7b;
  border-radius: 50%;
  width: 44px;
}
.popup-messages-footer>textarea {
  border-bottom: 1px solid #b2b2b2 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
  border: medium none;
  width: 95% !important;
}
.popup-messages-footer {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.popup-messages-footer .btn-footer {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
}
.simple_round {
  background: #d1d1d1 none repeat scroll 0 0;
  border-radius: 50%;
  color: #4b4b4b !important;
  height: 21px;
  padding: 0 0 0 1px;
  width: 21px;
}
.popup-box .popup-messages {
  background: #606C3B none repeat scroll 0 0;
  /*height: 275px;*/
  overflow: auto;
}
.direct-chat-messages {
  overflow: auto;
  padding: 10px;
  transform: translate(0px, 0px);
}
.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #a4c6b5;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}
.popup-messages abbr.timestamp {
  background: #606C3B none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}
.popup-head-right .btn-group {
  display: inline-flex;
  margin: 0 8px 0 0;
  vertical-align: top !important;
}
.chat-header-button {
  background: transparent none repeat scroll 0 0;
  border: 0px solid #636364;
  border-radius: 50%;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
  margin-bottom: 21px;
}
.popup-head-right .btn-group .dropdown-menu {
  border: medium none;
  min-width: 122px;
  padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
  font-size: 12px;
  padding: 3px 10px;
  color: #303030;
}
.popup-messages abbr.timestamp {
  background: #606C3B none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}
.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #a4c6b5;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}
.popup-messages .direct-chat-messages {
  height: auto;
}
.popup-messages .direct-chat-text {
  background: #FEFAE1 none repeat scroll 0 0;
  border: 1px solid #dfece7;
  border-radius: 2px;
  color: #1f2121;
}
.popup-messages .direct-chat-timestamp {
  color: #fff;
  opacity: 0.6;
}
.popup-messages .direct-chat-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 49px !important;
  color: #fff;
  opacity: 0.9;
}
.popup-messages .direct-chat-info {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}
.popup-messages .big-round {
  margin: -9px 0 0 !important;
}
.popup-messages .direct-chat-img {
  border: 1px solid #fff;
  background: #606C3B none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 40px;
  margin: -21px 0 0;
  width: 40px;
}
.direct-chat-reply-name {
  color: #fff;
  font-size: 15px;
  margin: 0 0 0 10px;
  opacity: 0.9;
}
.direct-chat-img-reply-small {
  border: 1px solid #fff;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 0 8px;
  width: 20px;
  background: #3f9684;
}
.popup-messages .direct-chat-msg {
  margin-bottom: 10px;
  position: relative;
}
.popup-messages .doted-border::after {
  background: transparent none repeat scroll 0 0 !important;
  border-right: 2px dotted #fff !important;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}
.popup-messages .direct-chat-msg::after {
  background: #fff none repeat scroll 0 0;
  border-right: medium none;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}
.direct-chat-text::after, .direct-chat-text::before {
  border-color: transparent #dfece7 transparent transparent;
}
.direct-chat-text::after, .direct-chat-text::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent #d2d6de transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: medium;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
}
.direct-chat-text::after {
  border-width: 5px;
  margin-top: -5px;
}
.popup-messages .direct-chat-text {
  background: #FEFAE1 none repeat scroll 0 0;
  border: 1px solid #FEFAE1;
  border-radius: 2px;
  color: #1f2121;
}
.direct-chat-text {
  background: #d2d6de none repeat scroll 0 0;
  border: 1px solid #d2d6de;
  border-radius: 5px;
  color: #444;
  margin: 5px 0 0 50px;
  padding: 5px 10px;
  position: relative;
}

/* Add friends style */


search{
  background-color:#000155 !important;
  display:flex;
  color:white !important;
}

.main {
  box-sixing: border-box;
  width:100%;
  max-width: 300px;
  margin: 40px auto 0 auto;
  border-radius:8px;
  padding: 35px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
 }

.main h1{
  font-size:20px;
  text-transform:uppercase;
  text-align: center;
  font-weight:bold;
  margin-bottom: 15px;
  margin-top:-10px;
}

.form-container {
  display:flex;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color:#FFF9F8;

}

.form {
  width: 83%;
  padding: 10px;

}

input {
  box-sizing:border-box;
  height:33px;
  border-radius:5px;
  border:none;
  padding:5px;
}

input:focus {
    outline: none;
}

button:focus {
  outline:none;
}

input[type='text']{
  color:white;
  text-size: 12px;
  padding-left:10px;
}

input[type="text"]::-webkit-input-placeholder {
color: white !important;
}
 
input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input[type="text"]:-ms-input-placeholder {  
color: white !important;  
}

.form-btn {
  width: 11%;
  border-radius: 5px;
  border:none;
  color:white;
  font-size: 20px;
  padding-bottom:4px;


}

.table-wrapper {
  border-radius: 5px;
  overflow: hidden;

}

table {
  font-size: 18px;
  font-weight:light;
  width:100%;  
  border-spacing: 0; 
color: white !important;

}


table tr {
  background-color:#D6C4C4;
  padding:5px;
  valign:middle;
  height:33px;
}

table tr:nth-child(even) {
  background-color:#CEBABA
}

table td {
  padding:5px 10px 5px 10px;
}

.new-friend {
  background-color: #A6B579;

}

.search {
  background-color:#FFF9F8;
  width: 100%;

}

#grad {
  background: #9B8080; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-200deg, #551FA1, #711BAB, #5A1297); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-200deg, #605B9C, #711BAB, #5A1297); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-200deg, #551FA1, #711BAB, #5A1297); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-200deg, #551FA1, #711BAB, #5A1297); /* Standard syntax */
}

#trash-btn {
  height:33px;
  width:21px;
  background-color: transparent;
  background-image: url("img/delete.svg");
  background-size: 21px;
  background-repeat: no-repeat;
  border:none;
}


/* End */

/* font-awesome icons */

.blue-color {
  color: blue;
}
.green-color {
  color: #606C3B;
}
.teal-color {
  color: teal;
}
.yellow-color {
  color: yellow;
}
.red-color {
  color: red;
}
.btn-outline-secondary:hover .fa-phone:before {
  content: "\f095";
  color: #ffffff;
  opacity: 1;
}
.btn-outline-secondary:hover .fa-comments:before {
  content: "\f086";
  color: #ffffff;
  opacity: 1;
}
.btn-outline-secondary:hover .fa-user:before {
  content: "\f007";
  color: #ffffff;
  opacity: 1;
}
.chat-header-button:hover .fa-cog:before {
  content: "\f013";
  color: #DF8063;
  opacity: 1;
}
.chat-header-button:hover .fa-times:before {
  content: "\f00d";
  color: #DF8063;
  opacity: 1;
}
.fa-cog:hover, fa-times:hover {
  color: #DF8063;
}
.fa-phone:hover, .fa-comments:hover .fa-user:hover {
  color: #ffffff;
}
#moreinformation {
  border-radius: 25px;
}
footer>div {
  display: flex;
  flex-direction: column;
}
#footer_text {
  color: #ffffff;
}
/* End */

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  #mobile {
    display: none;
  }
}

.mt-4, .my-4 {
    margin-top: 100px !important;
    text-align: center;
    color:#7A7A7A ;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; 
  z-index: 20;
}




